---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Education from '../components/Education.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Leong Kah Yung | Software Engineering Portfolio">
  <Navbar />
  <main id="top" class="relative">
    <Hero />
    <div class="reveal"><About /></div>
    <div class="reveal"><Experience /></div>
    <div class="reveal"><Projects /></div>
    <div class="reveal"><Skills /></div>
    <div class="reveal"><Education /></div>
    <div class="reveal"><Contact /></div>
  </main>
  <Footer />
</Layout>
